@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;700&family=Lato:ital,wght@0,700;0,900;1,300&family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Akshar', sans-serif;
    font-weight: 300;

}

.header{
    width:100%;
    height:100vh;
    background-image: url('./images/lgi.webp');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;

}

a{
    text-decoration: none;
}

.header-content h1{
    font-size:1.9rem;
    padding-bottom: 2em;
    letter-spacing: 2px;
    color:white;
    line-height: 3em;
    text-align: center;
}
.line{
    width:30%;
    height: 5px;
    background: rgb(187, 90, 6);
    box-shadow: 0px 2px 6px 1px rgba(230, 230, 230, 0.91);
    margin-bottom: 10em;
}
.link{
    padding: 9px 18px;
    background-color: rgb(187,90,6);
    border-radius: 20px;
    color:whitesmoke;
    margin-top:-2em;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.link:hover{
    background-color:rgb(188,33,3);
    transition: 2s ease-in-out;
}

.navbar{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-around;
    padding:20px;
    color:white;
}
ul{
    list-style: none;
}
.nav-links{
    display: flex;
    align-items: center;

}
.nav-links li {
    margin:0 30px;
    font-size: 1.2rem;
}
.nav-links a {
    color:white;
}
.span{
    cursor: pointer;
    
}
.span > span{
    display: inline-block;
    position: absolute;
    width:8px;
    height:3px;
    background-color: white;
    padding:0 1.5em;
    right:2em;
}
.span .first{
    top:1.7em;
}
.span .two{
    top:2.2em;
}
.span .three{
    top:2.7em;
}


@media screen and (max-width:850px) {
       .navbar{
           padding:0;
           margin: 0;
       } 
       .logo{
          position: absolute;
          top:30px;
          left:30px;
       }   
       .nav-links{
           flex-direction:column;
           width:120%;
           overflow:hidden;
           justify-content: center;
           height:100vh;
           background-color: rgb(214, 146, 62);
       }
       .mobile-menu{
           margin-top:-100px;
       }
       .nav-links li{
           margin:30px auto;
           
       }
       .span{
           display: block;
       }
      
}
